.question{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding-top: 30px;
    gap: 35px;
    height: 100vh;
    padding: 30px;
   

}
.question h1{
    font-weight: 700;
}
.question p{
    font-weight: 500;
}
.question-body{
    display: flex;
    background-color: white;
    border: solid rgba(0, 0, 0, 0.093) 1px;
    box-shadow: 0 0 1px ;
    padding: 25px;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}







.display-ans-container{
    display: flex;
    background-color: rgba(250, 235, 215, 0.714);
    border: solid rgba(80, 79, 79, 0.051) 1px;
    
}

.display-votes-ans{
    display: flex;
    
  
    width: 100%;

   
}

.display-votes-ans span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgba(128, 128, 128, 0.064) 1px;
    border-left:1px ;
   
    border-right: 1px;
    width: 20%;
    font-size: 13px;
    font-weight: 500;
}


.question-time{
    text-decoration: none;
    color: inherit;
   

}

.question-title{
    text-decoration: none;
    color:rgb(82, 147, 238) ;
    white-space:nowrap;
}

.diplay-details{
    display: flex;
    width: 80%;
    flex-direction: column;
    border: solid rgba(128, 128, 128, 0.064) 1px;
    border-left:1px ;
    border-right:1px ;
   padding-left: 10px;
   padding-right: 10px;
   
   
}
.tags-in-questions{
    display: flex;
    gap: 10px;
    justify-content: left;
    flex-wrap: wrap;
   
}

.sepearte-tag{
    background-color: #e0ecf5;
    font-size: 10px;
    padding: 5px;
    border: solid rgba(222, 222, 222, 0.034) 0.2px;
    color: rgb(42, 146, 238);
}


.diplay-time{
    display: flex;
    font-size: 13px;
    font-weight: 500;
    width: 40%;
    justify-content: left;
    align-items: center;
    margin-top: 12px;
    

}


.questions-div{
    margin-top: 40px;
}



.answer-section button{
    width: 150px;
    border-radius:4px;
    font-size: small;
    margin-top: 20px;
    height: 40px;
    background-color: rgb(32, 150, 224);
}

.answer-section textarea{
    width:100%;
    height: 190px;
    
}
.para{
    width:fit-content;
    white-space: nowrap;
    font-size: 100%;
    margin-top: 40px;

}

.answers{
    width: 100%;
    padding-bottom: 20px;
    border-bottom:solid rgba(0, 0, 0, 0.074) 1px;
}




.answer-section h1{
    font-size: 30px;
    font-weight: 700;
}


.act-btn{
    opacity: 30%;
}

.life{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: gray;
    

}



.answer-div{
    display:flex;
    flex-direction:column;
    margin-top:50px;
    
}

.sepearte{
   
    width:80%;
    font-size: 8px;
    
    border: solid rgba(222, 222, 222, 0.034) 0.2px;
    color: rgb(42, 146, 238);
}

.sepearte p{
    background-color: #e0ecf5;
    display: inline;
    padding: 4px;

    
}

.answered-tags{
    display: flex;
    width:60%
    

}